@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.589), #8e8d8dac);
    }

    #login {
        width: 80vw;
    }

    #login>div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login>#formulario {
        float: right;
        width: 70%;
    }

    #formulario>p {
        font-size: 1.2em;
        margin: 15px 0px;
    }

    section#login {
        width: 80vw;
        height: 320px;
    }
}

@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.589), #8e8d8dac);
    }

    #login {
        width: 950px;
    }

    #login>div#img {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login>div#formulario {
        float: left;
        width: 50%;

    }

    #formulario>p {
        font-size: 1.2em;
        margin: 20px 0px;
    }

    section#login {
        width: 80vw;
        height: 340px;
    }
}