@charset "UTF-8";

/* Paleta de cores :
F0F8EA 010203

d5dbd9 ceu 
040d12 preto
afaba5 cinza
*/
* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body,
html {
    background-color: rgba(0, 0, 0, 0.589);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;


    background-color: #d5dbd9;
    width: 55vw;
    height: 530px;
    border-radius: 20px;
    /* margin: auto; */
     overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.256);
    transition-timing-function: ease;
    transition: width .3s, height .3s;
    transform: translate(-50%, -50%);
}

#login>div#img {
    background-image: url(../imagens/pexels-yoss-traore-2591198.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center top;
    display: block;
}

#formulario {
    display: block;
    padding: 10px;

}

#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario>p {
    font-size: 0.8em;

}

.campo {
    background-color: #afaba5;
    width: 220px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

label {
    display: none;
}

.entrar {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgba(4, 197, 4, 0.884);
    color: white;
    border:none;
    border-radius: 8px;
    position: top -10px;
}

.entrar:hover {
    background-color: green;
    cursor: pointer;
    border-radius: 8px;

}

.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    text-decoration: none;
    background-color: aquamarine;
    color: black;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
}

.botao:hover {
    background-color: white;
    border: 3px solid aquamarine;
}

#user,
#key {
    color: black;
    font-size: 2em;
    width: 40px;
    height: 40px;
    padding: 4px;
}

#ilogin {
    background-color: azure;
    font-size: 1em;
    height: 85%;
    width: 180px;
    border: none;
    border-radius: 8px;
    padding: 3px;
    transform: translate(37px, -39px);
}

#isenha {
    background-color: azure;
    font-size: 1em;
    height: 90%;
    width: 180px;
    border: none;
    border-radius: 8px;
    padding: 3px;
    transform: translate(37px, -39px);
    
    
}

#ilogin:focus-within {
    background-color: aquamarine;
}

#isenha:focus-within {
    background-color: aquamarine;
}